name: Django_CI/CD

on:
  workflow_dispatch:

env:
  IMAGE_NAME: "${{ secrets.DOCKERHUB_USERNAME }}/django-app"
  PYTHON_VERSION: "3.11"
  EC2_USER: "ubuntu"
  EC2_HOST: "3.110.117.30"
  EC2_PORT: 22
  DOCKER_CONTAINER_NAME: "django-app"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django tests
        env:
          DJANGO_SETTINGS_MODULE: notesapp.settings
        run: |
          python manage.py migrate
          python manage.py test

  build_and_push_image:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ env.IMAGE_NAME }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          CONTAINER_NAME: ${{ env.DOCKER_CONTAINER_NAME }}
        run: |
          
          echo "${{ secrets.EC2_SSH_KEY }}" > instance_kp.pem
          chmod 400 instance_kp.pem

          
          ssh -o StrictHostKeyChecking=no -i instance_kp.pem ${{ env.EC2_USER }}@${{ env.EC2_HOST }} << EOF
            
            docker pull $IMAGE_NAME:latest

            # Stop & remove existing container if running
            if [ \$(docker ps -q -f name=$CONTAINER_NAME) ]; then
              docker stop $CONTAINER_NAME
              docker rm $CONTAINER_NAME
            fi

            # Run container in detached mode, mapping port 8000
            docker run -d -p 8000:8000 --name $CONTAINER_NAME $IMAGE_NAME:latest
            echo "Deployment completed successfully!"
          EOF
