name: DJango

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  IMAGE_NAME: "shree905/django-app"
  PYTHON_VERSION: "3.11"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        # pip install pytest pytest-django

      - name: Run Django tests
        env:
          DJANGO_SETTINGS_MODULE: notesapp.settings
        run: |
          python manage.py migrate
          python manage.py test
        # pytest --tb=short --maxfail=1
  
  Build_and_push_image:
     runs-on: ubuntu-latest

     steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
        
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .

      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  
      - name: Push Docker image
        run: |
          docker push ${{ env.IMAGE_NAME }}
