name: DJango

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  IMAGE_NAME: "${{ secrets.DOCKERHUB_USERNAME }}/django-app"
  PYTHON_VERSION: "3.11"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        # pip install pytest pytest-django

      - name: Run Django tests
        env:
          DJANGO_SETTINGS_MODULE: notesapp.settings
        run: |
          python manage.py migrate
          python manage.py test
        # pytest --tb=short --maxfail=1
  
  Build_and_push_image:
     runs-on: ubuntu-latest
     needs: build
     steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
        
      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest .
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Push Docker image to Docker Hub
        run: docker push ${{ env.IMAGE_NAME }}:latest
        
  Deploy:
    runs-on: ubuntu-latest
    needs: Build_and_push_image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to EC2
  
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > instance_kp.pem
          chmod 400 instance_kp.pem
          ssh -o StrictHostKeyChecking=no -i instance_kp.pem ubuntu@3.110.117.30 << 'EOF'
          docker pull ${{ env.IMAGE_NAME }}:latest
          docker stop ${{ env.IMAGE_NAME }}:latest || true
          docker rm ${{ env.IMAGE_NAME }}:latest || true
          docker run -d -p 8000:8000 --name django-app ${{ env.IMAGE_NAME }}:latest
          EOF

